<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Eat Da Burger: The Sequelized Edition</title>

{{!--Google fonts--}}
<link href="https://fonts.googleapis.com/css?family=Metamorphous" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Kumar+One" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link rel="icon" type="image/png" href="/assets/img/burger.png" />
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>

<body>
  {{{ body }}}
</body>


	<footer class="burgerFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="grey-text text-lighten-4">© 2017 Brittni Wright Coding BootCamp</span>
				<a class="grey-text text-lighten-4 right" href="https://github.com/bwright1114">Reference Work</a>
			</div>
		</div>
	</footer>

</html>