html {
 	background-color:#fff8fa;
    font-family: 'Kumar One', cursive;
    font-size: 16px;
 }


 h1 {
 	text-align: center;
 	font-family: 'Kumar One', cursive;
 	margin: 50px;
	font-weight: bold;
 }

.burgerFooter {
	background-color: #FFBDBD;
	padding: 20px 0;
}
